.affair__head--wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.affair__btn--wrap {
  display: flex;

  & .btnNew {
    background-color: var(--only-primary);
    color: #fff;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 3px;
    align-self: center;
    transition: all 0.3s ease-in;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

.affair__head--option {
  font-size: 1.5rem;
  padding: 0 0.75rem;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
}
