.ui__settings {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond(phone) {
    display: block;
  }
}

.ui {
  &__index {
    width: 24.5%;
    // height: 20rem;
    padding: 2rem 1rem;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(#000, 0.1);

    @include respond(phone) {
      width: 100%;
    }
  }
}

.shape__wrap {
  margin: 10px 0;
}
