:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #606060;
  --white-color: #fff;
  --text-secondary-color: #000;
  --shadow-color: #606060;
  --overlay-color: rgba(131, 131, 131, 0.1);
  --gray-color: #f9f9f9;
  --text-accent-color: #695cfe;
  --box-color: #17183b;
  --black-accent-color: #000;
  --text-box-accent-color: #f9f9f9;
  --text-input-color: #000;
  --border-color: #695cfe;
  --black-n-white: #000;
  --white-n-black: #fff;
  --primary-n-white: #695cfe;
  --only-primary: #695cfe;
  --gray-secondary: #b3b3b3;
  --gray-main: #bababa;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease; }

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --white-color: #fff;
  --text-secondary-color: #fff;
  --shadow-color: #5f5f5f;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --gray-color: #2f2f2f;
  --text-accent-color: #fff;
  --box-color: rgb(115, 115, 115);
  --black-accent-color: #fff;
  --text-box-accent-color: #2f2f2f;
  --text-input-color: #fff;
  --border-color: #fff;
  --black-n-white: #fff;
  --white-n-black: #000;
  --primary-n-white: #fff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow: auto;
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: var(--body-color);
  transition: var(--tran-05); }

::selection {
  background-color: var(--primary-color);
  color: #fff; }

.main--title {
  font-size: 5rem;
  color: var(--text-color);
  font-weight: 300; }
  @media (max-width: 56.25em) {
    .main--title {
      font-size: 4rem; } }

.main--title-x {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 400; }

.sub--title {
  font-size: 1.75rem;
  color: var(--text-color);
  font-weight: 500; }

.card--title {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500; }
  @media (max-width: 56.25em) {
    .card--title {
      font-size: 1.5rem; } }
  @media (max-width: 37.5em) {
    .card--title {
      font-size: 2rem; } }

.ui--title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-n-white); }

.btn--delete,
.btn--cancel,
.btn--create,
.btn--update {
  width: 49.5%;
  padding: 0.75rem 0;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  transition: all 0.3s ease-in; }

.btn--create {
  background-color: var(--only-primary);
  border: 2px solid var(--only-primary); }
  .btn--create:hover {
    opacity: 0.9; }

.btn--delete {
  background-color: red;
  border: 2px solid red; }
  .btn--delete:hover {
    opacity: 0.9; }

.btn--cancel {
  background-color: transparent;
  border: 2px solid red;
  color: red; }
  .btn--cancel:hover {
    background-color: red;
    color: white; }

.btn--update {
  background-color: var(--only-primary);
  border: 2px solid var(--only-primary);
  width: 100%; }
  .btn--update:hover {
    opacity: 0.9; }

.mt-2 {
  margin-top: 2rem; }

.alert {
  position: fixed;
  top: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease; }

.alert--success {
  background-color: green; }

.alert--error {
  background-color: red; }

.alert--info {
  background-color: var(--only-primary); }

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 25px 14px 10px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
  -webkit-box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.75); }
  @media (max-width: 37.5em) {
    .sidebar {
      display: none; } }

.sidebar.close {
  width: 88px; }

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 5px; }

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px; }

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; }

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03); }

.sidebar .text {
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1; }

.sidebar.close .text {
  opacity: 0; }

/* =========================== */
.sidebar header {
  position: relative; }

.sidebar header .image-text {
  display: flex;
  align-items: center; }

.sidebar header .logo-text {
  display: flex;
  flex-direction: column; }

header .image-text .name {
  font-size: 16px;
  font-weight: 600; }

header .image-text .user {
  font-size: 13px;
  margin-top: -2px;
  display: block; }

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center; }

.sidebar header .image img {
  width: 40px;
  border-radius: 50px; }

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05); }

body.dark .sidebar header .toggle {
  color: var(--text-color); }

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg); }

.sidebar .menu {
  margin-top: 20px; }

.sidebar li a {
  list-style: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  transition: var(--tran-03); }

.sidebar li a:hover {
  background-color: var(--primary-color); }

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color); }

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color); }

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; }

.menu-bar::-webkit-scrollbar {
  display: none; }

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05); }

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
  margin: auto 0; }

.mode .sun-moon .overlap {
  position: absolute; }

.mode .sun-moon .overlap.sun {
  opacity: 0; }

body.dark .mode .sun-moon .overlap.sun {
  opacity: 1; }

body.dark .mode .sun-moon .overlap.moon {
  opacity: 0; }

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer; }

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05); }

.switch::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04); }

body.dark .switch::before {
  left: 20px; }

body.dark .home .text {
  color: var(--text-color); }

hr {
  background-color: var(--text-color);
  opacity: 0.1;
  margin: 5px auto;
  width: 75%; }

.logout--wrap:hover {
  background-color: red !important; }

.bx-size {
  font-style: normal; }

.navbar {
  position: fixed;
  height: 50px;
  width: 95%;
  background: #fff;
  border-radius: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 500;
  bottom: 5px;
  margin-left: 2.5%; }
  @media (max-width: 37.5em) {
    .navbar {
      display: flex; } }

.navbar ul {
  position: relative;
  display: flex;
  width: 100%; }

.navbar ul li {
  position: relative;
  list-style-type: none;
  width: 20%; }

.navbar ul li a {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; }

.navbar ul li a i {
  position: absolute;
  font-size: 25px;
  color: #7d2ae8; }

ul li a i.activeIcon {
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s ease;
  transition-delay: 0.2s; }

.navbar ul li.active a i {
  opacity: 1;
  pointer-events: auto; }

.menu__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-between; }

.menu__item {
  width: calc((100% - 5 * 1rem) / 6);
  height: 11rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--shadow-color, 0.5);
  position: relative; }
  @media (max-width: 56.25em) {
    .menu__item {
      height: 8rem; } }
  @media (max-width: 56.25em) {
    .menu__item {
      width: calc((100% - 1 * 1rem) / 3);
      margin-bottom: 1rem; } }
  @media (max-width: 37.5em) {
    .menu__item {
      width: calc((100% - 1 * 1rem) / 2);
      height: 8rem; } }
  .menu__item:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in; }
  .menu__item--img {
    width: 100%;
    height: 100%;
    border-radius: 5px; }
    .menu__item--img-1 {
      background: url(./../../assets/img/card/published-posts.webp) no-repeat;
      background-size: cover; }
    .menu__item--img-2 {
      background: url(./../../assets/img/card/current-affairs.webp) no-repeat;
      background-size: cover; }
    .menu__item--img-3 {
      background: url(./../../assets/img/card/app-controls.webp) no-repeat;
      background-size: cover; }
    .menu__item--img-4 {
      background: url(./../../assets/img/card/administrator.webp) no-repeat;
      background-size: cover; }
    .menu__item--img-5 {
      background: url(./../../assets/img/card/blog.webp) no-repeat;
      background-size: cover; }
    .menu__item--img-6 {
      background: url(./../../assets/img/card/constructor.webp) no-repeat;
      background-size: cover; }
  .menu__item--title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--overlay-color); }

.custom-field {
  position: relative;
  font-size: 14px;
  border-top: 10px solid transparent;
  display: flex;
  --field-padding: 8px;
  margin-top: 0.5rem; }

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 100%;
  outline: none;
  font-size: 14px; }

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 16px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease; }

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -12px;
  font-size: 1.25rem;
  color: #222; }

.custom-field .error-message {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  background: #d30909;
  color: #fff;
  height: 24px; }

.custom-field .error-message:empty {
  opacity: 0; }

/* ONE */
.custom-field.one input {
  background: none;
  border: 2px solid var(--black-n-white);
  transition: border-color 0.3s ease; }

.custom-field.one input + .placeholder {
  left: 8px;
  padding: 0 5px; }

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
  border-color: var(--primary-color);
  transition-delay: 0.1s; }

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 0;
  font-size: 10px;
  color: #fff;
  border-radius: 60px;
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  width: auto; }

/* TWO */
.custom-field.two input {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat, linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat, linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease; }

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%; }

/* THREE */
.custom-field.three {
  --draw-duration: 0.1s;
  --draw-color: #222;
  --draw-line-width: 2px;
  --draw-easing: linear; }

.custom-field.three .border {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: none;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-radius: 3px; }

.custom-field.three .border::after,
.custom-field.three .border::before {
  content: '';
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  border-radius: 3px; }

.custom-field.three .border::before {
  left: 0;
  bottom: 0;
  border-right: 0px solid var(--draw-color);
  border-bottom: 0px solid var(--draw-color);
  transition: border 0s linear calc(var(--draw-duration) * 4), height var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 2), width var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 3); }

.custom-field.three .border::after {
  right: 0;
  top: 0;
  border-left: 0px solid var(--draw-color);
  border-top: 0px solid var(--draw-color);
  transition: border 0s linear calc(var(--draw-duration) * 2), height var(--draw-duration) var(--draw-easing), width var(--draw-duration) var(--draw-easing) var(--draw-duration); }

.custom-field.three input:focus ~ .border::before,
.custom-field.three input:not(:placeholder-shown) ~ .border::before,
.custom-field.three input.dirty ~ .border::before,
.custom-field.three input:focus ~ .border::after,
.custom-field.three input:not(:placeholder-shown) ~ .border::after,
.custom-field.three input.dirty ~ .border::after {
  width: 100%;
  height: 100%;
  border-width: var(--draw-line-width); }

.custom-field.three input:not(:placeholder-shown) ~ .border::before,
.custom-field.three input.dirty ~ .border::before,
.custom-field.three input:focus ~ .border::before {
  transition-delay: 0s, var(--draw-duration), 0s; }

.custom-field.three input:not(:placeholder-shown) ~ .border::after,
.custom-field.three input.dirty ~ .border::after,
.custom-field.three input:focus ~ .border::after {
  transition-delay: calc(var(--draw-duration) * 2), calc(var(--draw-duration) * 3), calc(var(--draw-duration) * 2); }

.shape__wrap {
  display: flex;
  flex-direction: row; }

.option--label {
  font-size: 1.5rem;
  margin-top: 0.5rem; }

.error,
.blog {
  padding: 11rem 0 3rem; }
  .error__img,
  .blog__img {
    background-image: url(/assets/img/404-Error.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 50rem; }
  .error__msg,
  .blog__msg {
    margin-top: 3rem;
    font-size: 2rem;
    color: #004b92;
    text-align: center; }

.blog__img {
  background-image: url(/img/construction.svg); }

.menu__input--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 200;
  background-color: var(--text-box-accent-color);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  transition: all 0.5s ease-in-out; }
  @media (max-width: 46.875em) {
    .menu__input--wrap {
      height: 100%; } }
  .menu__input--wrap-active {
    transform: translateX(0%); }
  .menu__input--wrap-close {
    transform: translateY(100%); }

.menu__input--center {
  width: 50rem; }
  @media (max-width: 37.5em) {
    .menu__input--center {
      width: 100%;
      padding: 0 1rem; } }
  .menu__input--center > .input__wrap {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 46.875em) {
      .menu__input--center > .input__wrap {
        display: block; } }
    .menu__input--center > .input__wrap > label {
      width: 49.5%; }
      @media (max-width: 46.875em) {
        .menu__input--center > .input__wrap > label {
          width: 100%; } }

.delete__overlay--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 200;
  background-color: var(--text-box-accent-color);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  transform: translateY(100%); }
  @media (max-width: 37.5em) {
    .delete__overlay--wrap {
      height: 100%; } }
  .delete__overlay--wrap-active {
    transform: translateX(0%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  .delete__overlay--wrap-close {
    transform: translateY(100%);
    transition: all 0.5s ease-in-out; }

.delete__overlay--center {
  width: 40rem; }
  @media (max-width: 37.5em) {
    .delete__overlay--center {
      width: 100%;
      padding: 0 1rem; } }
  .delete__overlay--center > .to-confirm-text {
    font-size: 1.5rem;
    color: var(--black-n-white); }

.confirm__btn--wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem; }

.overlay--control {
  display: flex;
  justify-content: space-between; }

.overlay--close {
  width: 50px;
  height: 50px; }
  .overlay--close > i {
    font-size: 5.5rem;
    color: var(--only-primary);
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .overlay--close > i:hover {
      color: red; }

.overlay__affair--visible {
  display: block !important; }

.overlay__affair--input-wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  padding: 2rem;
  z-index: 500;
  display: none; }
  @media (max-width: 46.875em) {
    .overlay__affair--input-wrap {
      padding-bottom: 4.5rem; } }

.overlay__affair--flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem 1.5rem;
  margin: 1rem 0;
  border-radius: 3px;
  background-color: var(--primary-color-light);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }
  @media (max-width: 46.875em) {
    .overlay__affair--flex {
      display: block; } }

.overlay__affair--input {
  width: 90%; }
  @media (max-width: 46.875em) {
    .overlay__affair--input {
      width: 100%; } }

.overlay__affair--input-btn {
  width: 9.5%;
  margin-top: 1.5rem;
  cursor: pointer;
  background-color: var(--only-primary);
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.5rem; }
  .overlay__affair--input-btn:hover {
    opacity: 0.9; }
  @media (max-width: 46.875em) {
    .overlay__affair--input-btn {
      width: 100%;
      padding: 1.5rem; } }

.styled-table {
  overflow-y: scroll;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.5rem;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

.styled-table thead tr {
  background-color: var(--only-primary);
  color: #ffffff;
  text-align: left;
  width: 100%; }
  .styled-table thead tr > .t-h-7 {
    width: 70%; }
  .styled-table thead tr > .t-h-2 {
    width: 20%;
    text-align: center; }
  .styled-table thead tr > .t-h-1 {
    width: 10%;
    text-align: center; }

.styled-table tbody tr {
  width: 100%;
  cursor: pointer; }
  .styled-table tbody tr > .t-question-7 {
    width: 70%; }
  .styled-table tbody tr > .t-answer-2 {
    width: 20%;
    text-align: center; }
  .styled-table tbody tr > .t-action-1 {
    display: flex;
    flex: 1;
    justify-content: space-around; }

.styled-table th,
.styled-table td {
  padding: 10px 15px; }
  .styled-table th:not(:last-child),
  .styled-table td:not(:last-child) {
    border-right: 1px solid #fff; }

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd; }

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3; }

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879; }

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879; }

.dashboard {
  margin-left: 88px;
  width: calc(100%-88px);
  padding: 20px 15px 20px 15px; }
  @media (max-width: 37.5em) {
    .dashboard {
      width: 100%;
      margin-left: 0;
      padding: 10px; } }

.main__form__wrap {
  height: 100vh;
  margin: 0 auto;
  display: flex; }

.main--abscenter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main__head {
  width: 100%;
  text-align: left !important;
  font-size: 4rem;
  font-weight: 300;
  color: #003365; }

.form__base {
  transition: all 0.3s ease-in-out;
  width: 100% !important; }
  .form__base label {
    font-size: 1.25rem;
    color: #003365;
    margin: 2rem 0 0.2rem;
    display: block;
    color: #003365; }
  .form__base input[type='text'],
  .form__base input[type='password'],
  .form__base button[type='submit'] {
    width: 100%;
    margin-top: 0.5rem;
    padding: 1rem 1rem;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    border: 2px solid #003365;
    color: #006562; }
    .form__base input[type='text']:focus,
    .form__base input[type='password']:focus,
    .form__base button[type='submit']:focus {
      border: 2px solid palevioletred; }
  .form__base button[type='submit'] {
    background-color: #0080ff;
    color: #fff;
    transition: all 0.1s ease-in;
    margin-top: 1rem;
    cursor: pointer;
    border: 2px solid #0080ff; }
    .form__base button[type='submit']:hover {
      background-color: #0051a1;
      border: 2px solid #0051a1; }
  .form__base .btn--signup {
    background-color: #fff !important;
    color: #003365 !important;
    border: 2px solid #0051a1; }

.box {
  width: 40rem;
  height: 100vh;
  background: honeydew;
  padding: 0 2rem; }
  @media (max-width: 37.5em) {
    .box {
      width: 100% !important; } }

.box-shadow {
  position: relative; }
  @media (max-width: 37.5em) {
    .box-shadow {
      box-shadow: none; } }

.box-shadow:before,
.box-shadow:after {
  content: '';
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 75, 146, 0.3);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 100px / 10px; }
  @media (max-width: 37.5em) {
    .box-shadow:before,
    .box-shadow:after {
      content: none; } }

.box-shadow:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg); }

.signup__container {
  display: flex; }

.signup__wrap {
  margin-top: 1rem;
  font-size: 1.25rem !important; }

.signup__pagebtn--go {
  color: #004b92;
  cursor: pointer; }
  .signup__pagebtn--go:hover {
    color: #00284d;
    font-size: 1.3rem !important; }

.signup--arrow {
  margin: 1rem 0;
  padding: 0.45rem;
  color: #004b92;
  cursor: pointer; }

.shape__wrap {
  margin: 10px 0; }

.main__title--wrap {
  display: flex;
  margin-top: 2rem; }
  .main__title--wrap > button {
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    cursor: pointer;
    background-color: var(--only-primary);
    color: var(--white-color);
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease-in; }
    .main__title--wrap > button:hover {
      opacity: 0.9; }

.active__data {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem; }
  @media (max-width: 37.5em) {
    .active__data {
      margin-bottom: 5rem; } }

.pages__data {
  width: 33%;
  padding: 1rem;
  background-color: var(--text-box-accent-color);
  border-radius: 3px;
  margin-bottom: 1rem; }
  @media (max-width: 56.25em) {
    .pages__data {
      width: 49%; } }
  @media (max-width: 37.5em) {
    .pages__data {
      width: 100%; }
      .pages__data:not(:last-child) {
        margin-bottom: 1rem; } }
  .pages__data--title {
    margin-bottom: 1rem;
    color: var(--primary-n-white); }

.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 37.5em) {
    .menu__list {
      display: block; } }

.menu__list--items {
  display: flex;
  width: 49%;
  margin-bottom: 0.75rem;
  border-radius: 3px;
  background-color: var(--body-color);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2); }
  @media (max-width: 37.5em) {
    .menu__list--items {
      width: 100%; } }

.menu__list--box, .menu__list--edit, .menu__list--delete, .menu__list--name {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black-n-white);
  opacity: 0.9;
  align-self: center;
  cursor: context-menu; }

.menu__list--name {
  flex: 1;
  padding: 1rem 0 1rem 1rem; }

.menu__list--box {
  width: 10%;
  cursor: pointer;
  text-align: center;
  padding: 1rem 0; }
  .menu__list--box:hover {
    color: var(--only-primary); }

.menu__list--edit {
  width: 10%;
  cursor: pointer;
  text-align: center;
  padding: 1rem 0; }
  .menu__list--edit:hover {
    color: green; }

.menu__list--delete {
  width: 10%;
  cursor: pointer;
  text-align: center;
  padding: 1rem 0;
  border-radius: 0 3px 3px 0; }
  .menu__list--delete:hover {
    color: red; }

.affair__head--wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }

.affair__btn--wrap {
  display: flex; }
  .affair__btn--wrap .btnNew {
    background-color: var(--only-primary);
    color: #fff;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 3px;
    align-self: center;
    transition: all 0.3s ease-in;
    cursor: pointer; }
    .affair__btn--wrap .btnNew:hover {
      opacity: 0.9; }

.affair__head--option {
  font-size: 1.5rem;
  padding: 0 0.75rem;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid var(--primary-color); }

.user__data {
  width: 60rem;
  border-radius: 3px;
  background-color: var(--text-box-accent-color);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  display: flex; }
  .user__data--left {
    width: 30%;
    height: 30rem; }
    .user__data--left > img {
      width: 100%;
      height: 100%;
      border-radius: 3px 0 0 3px;
      background-size: cover;
      background: -moz-linear-gradient(180deg, rgba(34, 193, 195, 0) 0%, #fdbb2d 100%);
      background: -webkit-linear-gradient(180deg, rgba(34, 193, 195, 0) 0%, #fdbb2d 100%);
      background: linear-gradient(180deg, rgba(34, 193, 195, 0) 0%, #fdbb2d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1); }
  .user__data--right {
    flex: 1;
    padding: 1rem;
    align-items: center; }
