:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #606060;
  --white-color: #fff;
  --text-secondary-color: #000;
  --shadow-color: #606060;
  --overlay-color: rgba(131, 131, 131, 0.1);
  --gray-color: #f9f9f9;
  --text-accent-color: #695cfe;
  --box-color: #17183b;
  --black-accent-color: #000;
  --text-box-accent-color: #f9f9f9;
  --text-input-color: #000;
  --border-color: #695cfe;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease; }

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --white-color: #fff;
  --text-secondary-color: #fff;
  --shadow-color: #5f5f5f;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --gray-color: #2f2f2f;
  --text-accent-color: #fff;
  --box-color: rgb(115, 115, 115);
  --black-accent-color: #fff;
  --text-box-accent-color: #2f2f2f;
  --text-input-color: #fff;
  --border-color: #fff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand; }

html {
  overflow: auto;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: var(--body-color);
  transition: var(--tran-05); }

::selection {
  background-color: var(--primary-color);
  color: #fff; }

.main--title {
  font-size: 5rem;
  color: var(--text-color);
  font-weight: 300; }

.sub--title {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 400; }

.card--title {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500; }
  @media (max-width: 37.5em) {
    .card--title {
      font-size: 1.5rem; } }

.ui--title {
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--white-color); }

.alert {
  position: fixed;
  top: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease; }

.alert--success {
  background-color: green; }

.alert--error {
  background-color: red; }

.alert--info {
  background-color: #8900ac; }

/*
.head {
  color: $color-white;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.subhead {
  margin: 1.5rem 0 0.5rem 0.5rem;
  font-size: 1rem;
  color: $color-white;
  font-weight: 600;

  @include respond(tab-land) {
    margin-left: 1rem !important;
  }
}

.menu__wrap {
  background-color: $color-white;
  border-radius: 3px;

  @include respond(tab-land) {
    border-radius: 0 !important;
  }

  & > li {
    list-style: none;
    text-align: center;
    padding: 0.75rem 0;
    transition: all 0.2s ease-in;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(#003365, 0.1);
    }

    &:hover {
      background-color: #003365;
      border-radius: 3px;

      @include respond(tab-land) {
        border-radius: 0 !important;
      }
    }

    &:hover > a {
      color: $color-white;
    }
  }

  & > li > a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #003365;
    font-weight: 600;
    transition: all 0.1s ease-in;
  }
}
*/
/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  padding: 25px 14px 10px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
  -webkit-box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.75); }
  @media (max-width: 37.5em) {
    .sidebar {
      display: none; } }

.sidebar.close {
  width: 88px; }

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 5px; }

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px; }

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03); }

.sidebar .text {
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1; }

.sidebar.close .text {
  opacity: 0; }

/* =========================== */
.sidebar header {
  position: relative; }

.sidebar header .image-text {
  display: flex;
  align-items: center; }

.sidebar header .logo-text {
  display: flex;
  flex-direction: column; }

header .image-text .name {
  font-size: 16px;
  font-weight: 600; }

header .image-text .user {
  font-size: 13px;
  margin-top: -2px;
  display: block; }

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center; }

.sidebar header .image img {
  width: 40px;
  border-radius: 50px; }

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05); }

body.dark .sidebar header .toggle {
  color: var(--text-color); }

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg); }

.sidebar .menu {
  margin-top: 20px; }

.sidebar li a {
  list-style: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  transition: var(--tran-03); }

.sidebar li a:hover {
  background-color: var(--primary-color); }

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color); }

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color); }

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.menu-bar::-webkit-scrollbar {
  display: none; }

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05); }

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
  margin: auto 0; }

.mode .sun-moon .overlap {
  position: absolute; }

.mode .sun-moon .overlap.sun {
  opacity: 0; }

body.dark .mode .sun-moon .overlap.sun {
  opacity: 1; }

body.dark .mode .sun-moon .overlap.moon {
  opacity: 0; }

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer; }

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05); }

.switch::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04); }

body.dark .switch::before {
  left: 20px; }

body.dark .home .text {
  color: var(--text-color); }

hr {
  background-color: var(--text-color);
  opacity: 0.1;
  margin: 5px auto;
  width: 75%; }

.logout--wrap:hover {
  background-color: red !important; }

.bx-size {
  height: 25px;
  width: 25px;
  background-color: var(--text-color); }

.bx-chevron-right {
  background: url(/assets/img/leftnav/bx-chevron-right.svg) no-repeat; }

.bx-home-alt {
  mask: url(/assets/img/leftnav/bx-home-alt.svg) no-repeat; }

.bx-pencil {
  mask: url(/assets/img/leftnav/bx-pencil.svg) no-repeat; }

.bx-folder {
  mask: url(/assets/img/leftnav/bx-folder.svg) no-repeat; }

.bx-news {
  mask: url(/assets/img/leftnav/bx-news.svg) no-repeat; }

.bx-message-square-edit {
  mask: url(/assets/img/leftnav/bx-message-square-edit.svg) no-repeat; }

.bxl-play-store {
  mask: url(/assets/img/leftnav/bxl-play-store.svg) no-repeat; }

.bx-log-out {
  mask: url(/assets/img/leftnav/bx-log-out.svg); }

.bx-moon {
  mask: url(/assets/img/leftnav/bx-moon.svg); }

.bx-sun {
  mask: url(/assets/img/leftnav/bx-sun.svg); }

.menu__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem; }

.menu__item {
  width: calc((100% - 4 * 2rem) /5);
  height: 13rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--shadow-color, 0.5);
  position: relative; }
  @media (max-width: 56.25em) {
    .menu__item {
      width: calc((100% - 4 * 1rem) /5);
      height: 11rem; } }
  @media (max-width: 56.25em) {
    .menu__item {
      width: calc((100% - 4 * 1rem) /5);
      height: 10rem; } }
  @media (max-width: 37.5em) {
    .menu__item {
      width: calc((100% - 4 * 1rem) /5);
      height: 8rem; } }
  .menu__item:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in; }
  .menu__item:not(:last-child) {
    margin-right: 2rem; }
    @media (max-width: 56.25em) {
      .menu__item:not(:last-child) {
        margin-right: 1rem; } }
  .menu__item--img {
    width: 100%;
    height: 100%;
    border-radius: 5px; }
    .menu__item--img-1 {
      background: url(/assets/img/card/published-posts.jpg) no-repeat;
      background-size: cover; }
    .menu__item--img-2 {
      background: url(/assets/img/card/current-affairs.jpg) no-repeat;
      background-size: cover; }
    .menu__item--img-3 {
      background: url(/assets/img/card/app-controls.jpg) no-repeat;
      background-size: cover; }
    .menu__item--img-4 {
      background: url(/assets/img/card/administration.jpg) no-repeat;
      background-size: cover; }
    .menu__item--img-5 {
      background: url(/assets/img/card/blog.jpg) no-repeat;
      background-size: cover; }
  .menu__item--title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--overlay-color); }

.dashboard {
  margin-left: 88px;
  width: calc(100%-88px);
  padding: 20px 30px 20px 30px; }
  @media (max-width: 37.5em) {
    .dashboard {
      width: 100%;
      margin-left: 0;
      padding: 10px; } }

.main__form__wrap {
  height: 100vh;
  margin: 0 auto;
  display: flex; }

.main--abscenter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main__head {
  width: 100%;
  text-align: left !important;
  font-size: 4rem;
  font-weight: 300;
  color: #003365; }

.form__base {
  transition: all 0.3s ease-in-out;
  width: 100% !important; }
  .form__base label {
    font-size: 1.25rem;
    color: #003365;
    margin: 2rem 0 0.2rem;
    display: block;
    color: #003365; }
  .form__base input[type='text'],
  .form__base input[type='password'],
  .form__base button[type='submit'] {
    width: 100%;
    margin-top: 0.5rem;
    padding: 1rem 1rem;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    border: 2px solid #003365;
    color: #006562; }
    .form__base input[type='text']:focus,
    .form__base input[type='password']:focus,
    .form__base button[type='submit']:focus {
      border: 2px solid palevioletred; }
  .form__base button[type='submit'] {
    background-color: #0080ff;
    color: #fff;
    transition: all 0.1s ease-in;
    margin-top: 1rem;
    cursor: pointer;
    border: 2px solid #0080ff; }
    .form__base button[type='submit']:hover {
      background-color: #0051a1;
      border: 2px solid #0051a1; }
  .form__base .btn--signup {
    background-color: #fff !important;
    color: #003365 !important;
    border: 2px solid #0051a1; }

.box {
  width: 40rem;
  height: 100vh;
  background: honeydew;
  padding: 0 2rem; }
  @media (max-width: 37.5em) {
    .box {
      width: 100% !important; } }

.box-shadow {
  position: relative; }
  @media (max-width: 37.5em) {
    .box-shadow {
      box-shadow: none; } }

.box-shadow:before,
.box-shadow:after {
  content: '';
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 75, 146, 0.3);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 100px / 10px; }
  @media (max-width: 37.5em) {
    .box-shadow:before,
    .box-shadow:after {
      content: none; } }

.box-shadow:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg); }

.signup__container {
  display: flex; }

.signup__wrap {
  margin-top: 1rem;
  font-size: 1.25rem !important; }

.signup__pagebtn--go {
  color: #004b92;
  cursor: pointer; }
  .signup__pagebtn--go:hover {
    color: #00284d;
    font-size: 1.3rem !important; }

.signup--arrow {
  margin: 1rem 0;
  padding: 0.45rem;
  color: #004b92;
  cursor: pointer; }

.ui__settings {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 37.5em) {
    .ui__settings {
      display: block; } }

.ui__index {
  width: 32.75%;
  height: 20rem;
  background-color: var(--box-color);
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px var(--black-accent-color, 0.5); }
  @media (max-width: 37.5em) {
    .ui__index {
      width: 100%; } }
