.main--title {
  font-size: 5rem;
  color: var(--text-color);
  font-weight: 300;

  @include respond(tab-port) {
    font-size: 4rem;
  }
}

.main--title-x {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 400;
}

.sub--title {
  font-size: 1.75rem;
  color: var(--text-color);
  font-weight: 500;
}

.card--title {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500;

  @include respond(tab-port) {
    font-size: 1.5rem;
  }

  @include respond(phone) {
    font-size: 2rem;
  }
}

.ui--title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-n-white);
}

.btn--delete,
.btn--cancel,
.btn--create,
.btn--update {
  width: 49.5%;
  padding: 0.75rem 0;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.btn--create {
  background-color: var(--only-primary);
  border: 2px solid var(--only-primary);

  &:hover {
    opacity: 0.9;
  }
}

.btn--delete {
  background-color: red;
  border: 2px solid red;

  &:hover {
    opacity: 0.9;
  }
}

.btn--cancel {
  background-color: transparent;
  border: 2px solid red;
  color: red;

  &:hover {
    background-color: red;
    color: white;
  }
}

.btn--update {
  background-color: var(--only-primary);
  border: 2px solid var(--only-primary);
  width: 100%;

  &:hover {
    opacity: 0.9;
  }
}

.mt-2 {
  margin-top: 2rem;
}
