// Menu Input
.menu__input {
  &--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: 200;
    background-color: var(--text-box-accent-color);
    box-shadow: 0px 0px 3px 0px rgba(#000, 0.5);
    padding: 2rem 1rem;
    transition: all 0.3s ease-in-out;

    @include respond(xl-phone) {
      height: 100%;
    }

    &-active {
      transform: translateX(0%);
    }

    &-close {
      transform: translateY(100%);
    }
  }

  &--option {
    width: 100%;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 1rem;
  }

  &--center {
    width: 50rem;

    @include respond(phone) {
      width: 100%;
      padding: 0 1rem;
    }

    & > .input__wrap {
      display: flex;
      justify-content: space-between;

      @include respond(xl-phone) {
        display: block;
      }

      & > label {
        width: 49.5%;

        @include respond(xl-phone) {
          width: 100%;
        }
      }
    }
  }
}
