.overlay {
  &--control {
    display: flex;
    justify-content: space-between;
  }

  &--close {
    width: 50px;
    height: 50px;

    & > i {
      font-size: 5.5rem;
      color: var(--only-primary);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: red;
      }
    }
  }
}

.overlay__affair {
  &--visible {
    display: block !important;
  }

  &--input-wrap {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem;
    z-index: 500;
    display: none;

    @include respond(xl-phone) {
      padding-bottom: 4.5rem;
    }
  }

  &--flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem 1.5rem;
    margin: 1rem 0;
    border-radius: 3px;
    background-color: var(--primary-color-light);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

    @include respond(xl-phone) {
      display: block;
    }
  }

  &--input {
    width: 90%;

    @include respond(xl-phone) {
      width: 100%;
    }
  }

  &--input-btn {
    width: 9.5%;
    margin-top: 1.5rem;
    cursor: pointer;
    background-color: var(--only-primary);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.5rem;

    &:hover {
      opacity: 0.9;
    }

    @include respond(xl-phone) {
      width: 100%;
      padding: 1.5rem;
    }
  }
}

// Table

.styled-table {
  overflow-y: scroll;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.5rem;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
  background-color: var(--only-primary);
  color: #ffffff;
  text-align: left;
  width: 100%;

  & > .t-h-7 {
    width: 70%;
  }
  & > .t-h-2 {
    width: 20%;
    text-align: center;

    @include respond(phone) {
      width: 30%;
    }
  }
  & > .t-h-1 {
    width: 10%;
    text-align: center;

    @include respond(phone) {
      display: none;
    }
  }
}

.styled-table tbody tr {
  width: 100%;
  cursor: pointer;

  & > .t-question-7 {
    width: 70%;
  }
  & > .t-answer-2 {
    width: 20%;
    text-align: center;

    @include respond(phone) {
      width: 30%;
    }
  }
  & > .t-action-1 {
    display: flex;
    flex: 1;
    justify-content: space-around;

    @include respond(phone) {
      display: none;
    }

    & .t-action-btn i {
      color: var(--only-primary);
    }
  }
}

.styled-table th {
  padding: 1rem 1.5rem;

  &:not(:last-child) {
    border-right: 1px solid #fff;
  }
}

.styled-table td {
  padding: 1.1rem 1.5rem;

  &:not(:last-child) {
    border-right: 1px solid #fff;
  }
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #ddd;
  color: #000;
}
.styled-table tbody tr:nth-of-type(odd) {
  background-color: #fff;
  font-weight: 500;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: 600;
  // color: #009879;
}
